.left-arrow {
  background-image: url("../images/icons_logo/turn_left_up.png");
  border: none;
  position:relative;
  left:75px;
  top:250px;
}
.right-arrow {
  background-image: url("../images/icons_logo/turn_right_up.png");
  border: none;
  outline: 0;
  position:relative;
  right:75px;
  top:250px;
}

.x-left-arrow-over{
  background-image: url("../images/icons_logo/turn_left_over.png");
}
.x-right-arrow-over{
  background-image: url("../images/icons_logo/turn_right_over.png");
}
.x-left-arrow-pressed{
  background-image: url("../images/icons_logo/turn_left_down.png");
}
.x-right-arrow-pressed{
  background-image: url("../images/icons_logo/turn_right_down.png");
}

.display-image {
  background-image: url(../images/preview/default.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;
  height: 600px;
}

