.x-image-view{
    font: 11px Arial, Helvetica, sans-serif;
}
.x-image-view .thumb{
    padding:3px;
}

.x-image-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.x-image-view .thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
    width: 76px;
}
.x-image-view .x-item-selected .thumb {
    background:#8db2e3;
}

.x-image-view .x-item-over .thumb {
    background:#ff0000;
}
