@import '../../defaults';

.main-header{
  background-color: $globalbackgroundcolor;
  width: 100%;
  height: 139px;
}

.main-header-logo{
  background-image: url(../images/icons_logo/logo_mckenzie.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 258px;
  height: 139px;
}