@import '../../defaults';

.main-tab-container {
  background-color: $globalbackgroundcolor;
}

.main-tab-container span{
}

.main-toolbar{
  background: none;
  border: none;
}

.main-card-container {
  background: $localbackgroundcolor;
}
