@import '../../defaults';

.main-container {
  background-color: $globalbackgroundcolor;
}
/**
.item-selection {
  color: $whitetextcolor;
  background-color: $localbackgroundcolor;
  font-weight: bold;
  font-size: 24px;
  padding-left:10px;
  padding-top:10px;
  left: 10px;
}
**/