$globalbackgroundcolor: #373D4B;
$localbackgroundcolor: #3F5368;
$redselectedcolor: #ED1B2C;
$grayovercolor: #A38660;
$whitetextcolor: #FFFFFF;
$blacktextcolor: #000000;
$graytextcolor: #b0b3b8;
$darkbluecolor: #373D4B;